__pycache__/
*.pyc
.venv/
*.egg-info/
results/**
!results/dashboard/
!results/dashboard/README.md
!results/.gitkeep
*.nsys-rep
*.json.gz
wandb/
.DS_Store
slurm-*.out
figures/
google-cloud-cli-darwin-arm.tar.gz
